.pagina-cabecalho{
    background-color: #18629b;
    color: #fff;
    padding-top: 40px;
    padding-bottom: 40px;
}

    .pagina-cabecalho__titulo{
        text-align: center;
        text-transform: uppercase;
    }

    .pagina-cabecalho__titulo-blue{
        color: #313367;
    }

    .pagina-cabecalho__titulo2{
        text-indent: -9999px;
        margin: 0;
    }

    .pagina-cabecalho__texto{
        padding-left: 30px;
        text-align: center;
    }

    .pagina-cabecalho__const{
        background-image: url(../image/img-const-e-reforma-banner.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    .pagina-cabecalho__prot{
        background-image: url(../image/img-prot-passiva-banner.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    .pagina-cabecalho__foto{
        background-image: url(../image/img-sist-fotovoltaico-banner.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

h2{
    margin: 0;
    padding-bottom: 10px;
}

.pagina-cabecalho__navegacao-lista{
    list-style: none;
}

.pagina-cabecalho__navegacao-lista li{
    list-style: none;
    margin: 0;
    margin-bottom: 15px;
}

.pagina-cabecalho__navegacao-lista__item{
    border: 2px solid #313367;
    border-radius: 10px;
    padding: 15px;
}

.conteudo{
    padding: 20px;
}

.conteudo__titulo{
    font-size: 18px;
}


/* Página Proteção Passiva */

.pagina-cabecalho__navegacao-lista h4{
    margin-top: 5px;
    font-weight: bold;
    text-align: center;
}