*{
    box-sizing: border-box;
}

body{
    font-family: 'Arimo', sans-serif;
}

.cabecalho{
    background-color: #fff;
    padding: 15px;
}

img{
    max-width: 100%;
}

hr{
    margin-top: 10px;
    height: 10px;
    background-color: #313367;
    border: 0;
}

.logo{
    background-image: url(../image/logo.png);
    background-repeat: no-repeat;
    display: block;
    margin: 0;
    width: 240px;
    height: 50px;
    text-indent: -9999px;
}

.logo--branco{
    background-image: url(../image/logo-branca.png);
    margin-bottom: 30px;
}

.menu-principal__btn{
    display: block;
    width: 42px;
    height: 42px;
    text-indent: -9999px;
    background-color: #fff;
    border-color: #c4c4c4;
    border-style: solid;
    border-radius: 5px;
    background-image: url(../image/menuprincipal-btn-bg.png);
    background-repeat: no-repeat;
    background-position: 5px 5px;
    cursor: pointer;
    /* posição do botão */
    position: absolute;
    top: 15px;
    right: 15px;
}

.menu-principal__btn--fechar{
    background-position: -48px 7px;
}

.menu-principal__lista{
    padding: 0px;
}

.menu-principal__lista li{
    list-style: none;
}

.menu-principal__item{
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    color: #313367;
    margin-bottom: 15px;
    display: block;
    font-size: 18px;
    padding: 15px;
}

.menu-principal__item--atual{
    background-color: #313367;
    color: #fff;
}

/* Rodapé */

.rodape{
    color: #fff;
}

.rodape__linha-1{
    background-color: #313367;
    padding: 15px;
}

.rodape__linha-2{
    background-color: black;
    text-align: center;
    padding: 15px;
}

.rodape__coluna{
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 25px;
}

.rodape__titulo{
    border-bottom: 1px solid #fff;
    padding-top: 0 10px 10px 10px;
    font-size: 18px;
}

.rodape__lista-links{
    padding: 0;
    list-style: none;
}

.rodape__lista-links__item{
    margin-bottom: 20px;
    display: block;
}

.rodape__lista-links__item a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}